.header {
  background-color: var(--color-header);
}

.logoLink {
  display: inline-block;
}

.siteNav {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.siteNav a {
  display: inline-block;
  padding: 24px 0;
}

.link {
  color: var(--color-main-text);
  font-weight: var(--font-weight-medium);
  transition: var(--animation);
}

.link:hover,
.link:focus {
  color: var(--color-button-hover);
}

.isActive {
  color: var(--color-button-hover);
  font-weight: var(--font-weight-medium);
}
